:root {
  /* nighmare bifore krissmas */
  /* Lobby & Game */
  /* --------------- */
  /* In game */
  /* Night */
  --dark-bg: hsl(0, 0%, 13%);
  --light-fg: hsl(0, 0%, 100%);
  /* Day */
  --light-bg: hsl(0, 0%, 100%);
  --dark-fg: hsl(0, 0%, 0%);
  /* Player colors */
  --evilteam: hsl(360, 100%, 50%);
  --killed: hsl(0, 0%, 57%);
  --ability-target-bg: hsl(360, 100%, 60%);
  --vote-target-bg: hsl(100, 100%, 40%);
  --double-target-bg: linear-gradient(
    90deg,
    rgba(255, 51, 51, 1) 0%,
    rgba(68, 204, 0, 1) 100%
  );
  /* In game buttons */
  --vote-button-bg--notused: hsl(100, 100%, 40%);
  --vote-button-bg--used: hsl(100, 100%, 90%);
  --ability-button-bg--notused: hsl(360, 100%, 60%);
  --ability-button-bg--used: hsl(360, 98%, 95%);
}

#copy-button {
  display: "inline";
  margin-left: 0.5rem;
}

#check-circle-icon {
  display: none;
  margin-left: 0.5rem;
}

.lobby-code {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: var(--dark-fg);
  background-color: var(--light-bg);
  padding: 0.5em;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 0.5em;
}

#copy-code {
    transition: box-shadow 0.3s ease-out;
}

.lobby-code:focus {
}

.lobby-help {
}
.lobby-card {
}

.lobby-card-title {
}

.lobby-req {
}

.lobby-icon-check {
}

.lobby-status-ready {
}

.lobby-role-tag {
}

.lobby-button-ready {
}

.lobby-button-start {
}

.game-button-vote {
}

.game-button-ability {
}

.game-button-both {
  display: inline;
  padding: 0.3em;
  border-radius: 0.6em;
  text-align: center;
  font-size: 1rem;
  color: #000000;
  background: rgb(255, 51, 51);
  background: -moz-linear-gradient(
    90deg,
    rgba(255, 51, 51, 1) 0%,
    rgba(68, 204, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(255, 51, 51, 1) 0%,
    rgba(68, 204, 0, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(255, 51, 51, 1) 0%,
    rgba(68, 204, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff3333",endColorstr="#44cc00",GradientType=1);
}
