/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
  /* nighmare bifore krissmas */
  /* 404 error */
  /* --------------- */
  /* Night */
  --dark-bg: hsl(0, 0%, 13%);
  --light-fg: hsl(0, 0%, 100%);
  /* Day */
  --light-bg: hsl(0, 0%, 100%);
  --dark-fg: hsl(0, 0%, 0%);
  --main-shadow: hsl(320, 49%, 17%);
  --main-highlight: hsl(320, 49%, 35%);
}
body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-size: 1rem;
  font-family: "League Spartan", sans-serif;
  margin: 0;
  min-width: 100%;
  background-color: var(--light-bg);
}
.body-main {
  color: var(--light-fg);
  background: -o-radial-gradient(
    50% 50%,
    50% 50%,
    var(--main-highlight) 0%,
    var(--main-shadow) 100%
  );
  background: radial-gradient(
    50% 50% at 50% 50%,
    var(--main-highlight) 0%,
    var(--main-shadow) 100%
  );
  background-attachment: fixed;
}
.navbar-main {
  width: auto;
  height: auto;
}
.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: auto;
  height: auto;
  padding: 0.5em;
}
.logo {
  width: 2rem;
  height: 2rem;
  padding: 0.25em;
}
.logo-link {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.logo-link:focus {
  outline: none !important;
}
p {
  margin: 0;
}
.title-light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3.7rem;
  font-weight: 600;
  color: var(--light-fg);
  margin: 0rem 0 1rem 0;
}
.header {
  display: block;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  color: var(--light-fg);
  margin: 0.25rem 2rem 0.25rem 2rem;
}
.header-bold {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--light-fg);
  margin: 0.5rem 2rem 1rem 2rem;
}
#with-eyes {
  margin-top: 3rem;
}
#without-eyes {
  margin-top: 1rem;
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.robot-404 {
  width: 12rem;
  height: 12rem;
}