/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


:root {
  /* nighmare bifore krissmas */
  /* Lobby & Game */
  /* --------------- */
  /* In game */

  /* Night */
  --dark-bg: hsl(0, 0%, 13%);
  --light-fg: hsl(0, 0%, 100%);
  /* Day */
  --light-bg: hsl(0, 0%, 100%);
  --dark-fg: hsl(0, 0%, 0%);
  --mission-grey: hsl(0, 0%, 95%);
  --popup-button: hsl(0, 0%, 85%);
  --popup-button--hover: hsl(0, 0%, 80%);
  --popup-button--active: hsl(0, 0%, 70%);
  --popup-leave-button: hsl(0, 100%, 80%);
  --popup-leave-button--hover: hsl(0, 100%, 75%);
  --popup-leave-button--active: hsl(0, 100%, 65%);
  --leave-button: hsl(360, 100%, 50%);
  --leave-button--hover: hsl(360, 100%, 45%);
  --leave-button--active: hsl(360, 100%, 40%);
  --secondary-day: hsl(0, 0%, 95%);
  --secondary-night: hsl(0, 0%, 25%);
  --cemetery: hsl(0, 0%, 20%);

  /* Role tags */
  /* Good */
  --good-fg: var(--dark-fg);
  --good-bg: hsl(108, 100%, 85%);
  --good-bg-mission: hsl(108, 100%, 93%);
  --good-fg-selected: var(--light-fg);
  --good-bg-selected: hsl(108, 100%, 25%);

  /* Evil */
  --evil-fg: var(--dark-fg);
  --evil-bg: hsl(360, 100%, 85%);
  --evil-bg-mission: hsl(360, 100%, 93%);
  --evil-fg-selected: var(--light-fg);
  --evil-bg-selected: hsl(360, 100%, 50%);

  /* Neutral */
  --neutral-fg: var(--dark-fg);
  --neutral-bg: hsl(0, 0%, 83%);
  --neutral-bg-mission: hsl(0, 0%, 93%);
  --neutral-fg-selected: var(--light-fg);
  --neutral-bg-selected: hsl(0, 0%, 15%);

  /* Player colors */
  --evilteam: hsl(360, 100%, 45%);
  --goodteam: hsl(120, 100%, 35%);
  --neutralteam: hsl(0, 0%, 0%);
  --dead: hsl(0, 0%, 50%);
  --unselectable: hsl(0, 0%, 80%);
  --ability-target-bg: hsl(360, 100%, 80%);
  --vote-target-bg: hsl(100, 100%, 80%);
  /* In game buttons */
  --ability-button-bg--active: rgb(255, 0, 0);
  --ability-button-bg: hsl(360, 100%, 75%);
  --vote-button-bg--active: hsl(100, 80%, 65%);
  --vote-button-bg: hsl(100, 100%, 80%);
}
/* Game backgrounds */
.game-background {
  background: url(/assets/images/game_background.jpg);
  background-attachment: fixed;
}
.game-background-night {
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url(/assets/images/game_background.jpg);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.55)), to(rgba(0, 0, 0, 0.55))),
    url(/assets/images/game_background.jpg);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url(/assets/images/game_background.jpg);
  background-attachment: fixed;
}
.game-background-day {
  background: -o-linear-gradient(
      bottom,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(/assets/images/game_background.jpg);
  background: -webkit-gradient(
      linear,
      left bottom, left top,
      from(rgba(255, 255, 255, 0.5)),
      to(rgba(255, 255, 255, 0.5))
    ),
    url(/assets/images/game_background.jpg);
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(/assets/images/game_background.jpg);
  background-attachment: fixed;
}
.game-background-dead {
  background: -o-radial-gradient(
      50% 50%,
      50% 50%,
      rgba(255, 2, 2, 0) 0%,
      rgba(255, 13, 13, 0.25) 100%
    ),
    -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/images/game_background.jpg) !important;
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 2, 2, 0) 0%,
      rgba(255, 13, 13, 0.25) 100%
    ),
    -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))),
    url(/assets/images/game_background.jpg) !important;
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 2, 2, 0) 0%,
      rgba(255, 13, 13, 0.25) 100%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/images/game_background.jpg) !important;

  background-attachment: fixed;
}
/* Day and Night */
.game-day-bg {
  background-color: var(--light-bg);
}
.game-day-fg {
  color: var(--dark-fg);
}
.game-night-bg {
  background-color: var(--dark-bg);
}
.game-night-fg {
  color: var(--light-fg);
}
.game-night-secondary {
  background-color: var(--secondary-night);
  color: var(--light-fg);
}
.game-day-secondary {
  background-color: var(--secondary-day);
  color: var(--dark-fg);
}
.game-night-border {
  background-color: var(--secondary-night);
}
.game-day-border {
  background-color: var(--secondary-day);
}
/* Row and column */
.game-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.game-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/* Game UI */
/* Player card */
.game-player-card-questionmark {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 0.75rem;
  font-size: 6rem;
  font-weight: 700;
  background: none !important;
}
.game-player-card {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* padding: 0.6em; */
  border-radius: 1rem;
  -webkit-animation: pop-light 1s 1;
          animation: pop-light 1s 1;
  margin: 1rem 0.5rem 1rem 0.5rem;
  max-width: 20.5rem;
  min-width: 20.5rem;
  max-height: 8rem;
  min-height: 8rem;
}
/* Animations */
@-webkit-keyframes pop-light {
  from, to { -webkit-transform: scale(1); transform: scale(1); }
  25% { -webkit-transform: scale(0.98); transform: scale(0.98); }
  50% { -webkit-transform: scale(1.03); transform: scale(1.03); }
  75% { -webkit-transform: scale(1); transform: scale(1); }
}
@keyframes pop-light {
  from, to { -webkit-transform: scale(1); transform: scale(1); }
  25% { -webkit-transform: scale(0.98); transform: scale(0.98); }
  50% { -webkit-transform: scale(1.03); transform: scale(1.03); }
  75% { -webkit-transform: scale(1); transform: scale(1); }
}
@-webkit-keyframes gelatine-light {
  from, to { -webkit-transform: scale(1, 1); transform: scale(1, 1); }
  25% { -webkit-transform: scale(0.95, 1.05); transform: scale(0.95, 1.05); }
  50% { -webkit-transform: scale(1.05, 0.95); transform: scale(1.05, 0.95); }
  75% { -webkit-transform: scale(0.98, 1.02); transform: scale(0.98, 1.02); }
}
@keyframes gelatine-light {
  from, to { -webkit-transform: scale(1, 1); transform: scale(1, 1); }
  25% { -webkit-transform: scale(0.95, 1.05); transform: scale(0.95, 1.05); }
  50% { -webkit-transform: scale(1.05, 0.95); transform: scale(1.05, 0.95); }
  75% { -webkit-transform: scale(0.98, 1.02); transform: scale(0.98, 1.02); }
}

.game-player-card-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 6rem;
  height: 7.109rem;
  border-radius: 0.7rem;
  margin-right: 1rem;
}
.game-player-card-wrapper {
  margin: 1rem;
  min-width: 10rem;
  max-width: 10rem;
}
.game-player-card-divider {
  height: 6rem;
  border-radius: 50rem;
  width: 0.5rem;
}
.game-player-card-role {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: 700;
  font-size: 1rem;
  margin-left: 0.25rem;
  margin-bottom: 0.5rem;
  min-width: 10rem;
  max-width: 10rem;
}
.game-player-card-mission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: 400;
  font-size: 0.65rem;
  margin-left: 0.25rem;
  margin-bottom: 0.75rem;
  min-width: 10rem;
  max-width: 10rem;
  vertical-align: center;
  line-height: 1.15;
}
.game-player-card-button {
  display: inline;
  text-align: center;
  font-weight: 500;
  font-size: 0.75rem;
  border-radius: 6.25rem;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}
/* Message box*/
.game-messagebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
  border-radius: 1rem;
  min-height: 12.375rem;
  max-height: 12.375rem;
  max-width: 18.5rem;
  min-width: 18.5rem;
  margin: 0 0.5rem 1.5rem 0.5rem;
}
.game-message-scroller {
  display: inline-block;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}
.game-messagebox-scrolldown {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  position: absolute;
  margin-bottom: 1rem;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.75rem;
  min-width: 6rem;
  max-width: 6rem;
  background-color: rgba(128, 128, 128, 0.85);
  padding: 0.6em;
  border-radius: 1rem;
}
.game-messagebox-scrolldown:active {
  background-color: rgba(120, 120, 120, 0.85);
}
/* ! Two versions */
.game-message {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 16rem;
  max-width: 16rem;
  font-size: 0.75rem;
  font-weight: 300;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  margin-bottom: 0.35rem;
  border-radius: 0.35rem;
}
/* Message types */
/* Day */
.game-message-alert-day {
  font-weight: 400 !important;
  background-color: hsl(360, 100%, 70%) !important;
}
.game-message-info-day {
  font-weight: 400 !important;
  background-color: hsl(43, 100%, 60%) !important;
}
.game-message-confirm-day {
  font-weight: 400 !important;
  background-color: hsl(97, 100%, 50%) !important;
}
.game-message-important-day {
  font-weight: 400 !important;
  background-color: hsl(280, 100%, 75%) !important;
}
.game-message-extra-day {
  font-weight: 400 !important;
  background-color: hsl(197, 100%, 60%) !important;
}
/* Night */
.game-message-alert-night {
  font-weight: 400 !important;
  background-color: hsl(360, 100%, 60%) !important;
}
.game-message-info-night {
  font-weight: 400 !important;
  background-color: hsl(43, 100%, 50%) !important;
}
.game-message-confirm-night {
  font-weight: 400 !important;
  background-color: hsl(97, 100%, 40%) !important;
}
.game-message-important-night {
  font-weight: 400 !important;
  background-color: hsl(280, 100%, 60%) !important;
}
.game-message-extra-night {
  font-weight: 400 !important;
  background-color: hsl(197, 100%, 50%) !important;
}
/* Standard */
.game-message-day {
  background-color: hsl(0, 0%, 92%);
}
.game-message-night {
  background-color: hsl(0, 0%, 25%);
}
.game-panel-day {
  background-color: rgba(255, 255, 255, 0.35);
}
.game-panel-night {
  background-color: rgba(38, 38, 38, 0.35);
}
/* Panel */
.game-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 18.5rem;
  max-width: 18.5rem;
  padding: 1.5em 1em 1.5em 1em;
  border-radius: 1rem;
  margin: 0 0.5rem 2rem 0.5rem;
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);

}
.game-clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0.5em 0.75em 0.5em 0.75em;
  border-radius: 0.75rem;
  font-weight: 500;
  margin: 0 0.5rem 1.5rem 0.5rem;
  min-width: 14rem;
  max-width: 14rem;
  line-height: 1;
  gap: 1rem;
}
.game-cycle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.game-cycle-icon {
  display: inline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: text-top;
  width: 1.563rem;
  height: 1.563rem;
  margin-bottom: 0.15rem;
  margin-right: 0.25rem;
}
.game-cycle-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.25rem;
  line-height: 0;
}
.game-cycle-text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-left: 0.5rem;
}
.game-clock-divider {
  height: 1.375rem;
  border-radius: 50rem;
  width: 0.25rem;
}
.game-time {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  text-align: center;
  line-height: 0;
  margin-bottom: -0.1rem
}
#game-time-minutes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 0.1rem;
  min-width: 1.5rem;
  max-width: 1.5rem;
}
#game-time-divisor {
  display: inline;
}
#game-time-seconds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 0.1rem;
  min-width: 2rem;
  max-width: 2rem;
}
.game-players-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 0.5rem 0rem 0.5rem;
}
.game-players-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap:1rem;
  margin: 0 0.5rem 0 0.5rem;
}
.game-players-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap:1rem;
  margin: 0 0.5rem 0 0.5rem;
}
.game-player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  color: var(--dark-fg);
  /* top-left | top-right | bottom-right | bottom-left */
  border-radius: 0.75rem;
  -webkit-border-radius: 0.75rem;
  min-width: 9rem;
  max-width: 9rem;
  height: 100%;
}
/* Game buttons */
.game-player-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1rem;
  font-weight: 400;
  height: 100%;
}
.game-skip-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  color: var(--dark-fg);
  /* top-left | top-right | bottom-right | bottom-left */
  border-radius: 0.75rem;
  -webkit-border-radius: 0.75rem;
  min-width: 9rem;
  max-width: 9rem;
  height: 100%;
  margin-top: 1.5rem;
}
.game-skip-button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: center;
  text-align: center;
  color: var(--dark-fg);
  background-color: var(--vote-button-bg);
  width: 100%;
  height: 1.15rem;
  border-radius: 0.75rem;
  padding: 0.5em;
  font-size: 0.95rem;
  font-weight: 600;
}
.game-button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
  vertical-align: center;
  text-align: center;
  color: var(--dark-fg);
  width: 100%;
  height: 1.15rem;
  border-radius: 0 0 0.75rem 0.75rem;
  padding: 0.35em;
}
.game-button-ability {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: var(--ability-button-bg);
}
.game-button-vote-norounding {
  /* top-left | top-right | bottom-right | bottom-left */
  border-radius: 0 0 0.75rem 0;
}
.game-button-ability-norounding {
  /* top-left | top-right | bottom-right | bottom-left */
  border-radius: 0 0 0 0.75rem;
}
.game-button-vote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: var(--vote-button-bg);
}
.game-button-state {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.game-button-unselectable {
  background-color: var(--unselectable);
}
.game-button-dead {
  background-color: var(--dead);
}
.game-player-name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: var(--light-fg);
  padding: 0.5em 0.35em 0.5em 0.35em;
  /* top-left | top-right | bottom-right | bottom-left */
  border-radius: 0.75rem 0.75rem 0 0;
  height: 1.25rem;
  font-size: 0.95rem;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.game-player-selection-ability {
  -webkit-box-shadow: 0 0 0 0.25rem var(--ability-button-bg--active) !important;
          box-shadow: 0 0 0 0.25rem var(--ability-button-bg--active) !important;
  /* outline: 4px solid var(--ability-button-bg--active) !important; */
}
.game-player-selection-vote {
  background-color: var(--vote-button-bg--active) !important;
}
.game-player-hidden {
  display: none !important;
}
.game-player-evil {
  color: var(--evilteam) !important;
}
.game-player-dead {
  cursor: not-allowed;
  background-color: var(--dead);
}
.game-player-unselectable {
  cursor: not-allowed;
  background-color: var(--unselectable);
}
#game-show-mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 100%;
}
/* Target, briefcase, mayor */
.game-player-mark {
  display: none;
  width: 1.15rem;
  height: 1.15rem;
  opacity: 0%;
  vertical-align: text-top;
}
.game-player-name {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: 0.15rem;
}
/* Cemetery */
.game-cemetery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20.313rem;
  height: 23.75rem;
  background: url(/assets/icons/cemetery.svg);
  margin: 1rem 0.5rem 2rem 0.5rem;
}
.game-cemetery-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1.5rem;
}
.game-cemetery-title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--light-fg);
  margin: 0 0.5rem 1rem 0.5rem;
}
.game-deceased {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 18.25rem;
  min-height: 18.25rem;
}
/* Name + (role) */
.game-deadplayer {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 0.85rem;
  color: var(--light-fg);
  margin: 0 0.5rem 0.5rem 0.5rem;
}
.game-audio-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  max-width: 12.5rem;
  max-width: 12.5rem;
  gap: 1rem;
  margin-bottom: 2rem;
}
.game-audio-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 12.5rem;
  max-width: 12.5rem;
  padding: 1rem;
  border-radius: 0.5rem;;
  background-color: rgba(38, 38, 38, 0.35);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);

}
.game-audio-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.25rem;
  height: 1.25rem;
}
.game-music-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.25rem;
  height: 1.25rem;
}
/* Leave button */
.game-leavebutton {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--light-fg);
  background-color: var(--leave-button);
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 12.5rem;
  max-width: 12.5rem;
  margin: 0 0.5rem 1rem 0.5rem;
}
.game-leavebutton:hover {
  color: var(--light-fg);
  background-color: var(--leave-button--hover);
}
.game-leavebutton:active {
  color: var(--light-fg);
  background-color: var(--leave-button--active);
}
/* Popup */
@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.game-overlay {
  position: fixed;
  display: block;
  background-color: rgba(0, 0, 0, 0.35);
  -webkit-animation: fadeIn 0.3s 1;
          animation: fadeIn 0.3s 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0.25rem);
  -webkit-backdrop-filter: blur(0.25rem);
}
/* Animations  */
.gelatine-light-fixed {
  -webkit-animation: gelatine-light-fixed 0.5s 1;
          animation: gelatine-light-fixed 0.5s 1;
}
@-webkit-keyframes gelatine-light-fixed {
  from, to { -webkit-transform: scale(1, 1) translate(-50%, -50%); transform: scale(1, 1) translate(-50%, -50%); }
  25% { -webkit-transform: scale(0.95, 1.05) translate(-50%, -50%); transform: scale(0.95, 1.05) translate(-50%, -50%); }
  50% { -webkit-transform: scale(1.05, 0.95) translate(-50%, -50%); transform: scale(1.05, 0.95) translate(-50%, -50%); }
  75% { -webkit-transform: scale(0.98, 1.02) translate(-50%, -50%); transform: scale(0.98, 1.02) translate(-50%, -50%); }
}
@keyframes gelatine-light-fixed {
  from, to { -webkit-transform: scale(1, 1) translate(-50%, -50%); transform: scale(1, 1) translate(-50%, -50%); }
  25% { -webkit-transform: scale(0.95, 1.05) translate(-50%, -50%); transform: scale(0.95, 1.05) translate(-50%, -50%); }
  50% { -webkit-transform: scale(1.05, 0.95) translate(-50%, -50%); transform: scale(1.05, 0.95) translate(-50%, -50%); }
  75% { -webkit-transform: scale(0.98, 1.02) translate(-50%, -50%); transform: scale(0.98, 1.02) translate(-50%, -50%); }
}
.shadow-light {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.shadow-medium {
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
}
.game-popup {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  -webkit-animation: fadeIn 0.3s 1;
          animation: fadeIn 0.3s 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--light-bg);
  border-radius: 1rem;
  padding: 3rem 1.5rem 3rem 1.5rem;
  max-width: 17.5rem;
  min-width: 17.5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.game-popup-text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: var(--dark-fg);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.game-popup-text-bold {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 2rem;
  font-weight: 700;
  color: var(--dark-fg);
}
.game-popup-icon {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 5rem;
  height: 5rem;
  margin-bottom: 1.5rem;
}
.game-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: -1rem;
  margin-top: -2rem;
  margin-bottom: 1rem;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.game-close-button {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  vertical-align: bottom;
  border-radius: 0.5rem;
}
.game-close-button:hover {
  background-color: hsl(0, 0%, 95%);
}
.game-close-button:active {
  background-color: hsl(0, 0%, 85%);
}
/* Win popup */
#overlay-win {
  display: none;
}
#win {
  display: none;
}
#winState {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
#winningMessage {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
#winners {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.game-popup-button {
  color: var(--dark-fg);
  background-color: var(--popup-button);
}
.game-popup-button:hover {
  color: var(--dark-fg);
  background-color: var(--popup-button--hover);
}
.game-popup-button:active {
  color: var(--dark-fg);
  background-color: var(--popup-button--active);
}
.game-popup-return {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 1rem;
  padding: 0.6em;
  background-color: var(--popup-button);
}
/* Leave popup */
#overlay-leave {
  display: none;
}
#leave {
  display: none;
  padding: 3rem 1.5rem 3rem 1.5rem;
  max-width: 17.5rem;
  min-width: 17.5rem;
}
#leave-text {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.game-popup-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.5rem;
  font-weight: 500;
  gap: 1rem;
}
.game-popup-leavebutton {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  color: var(--dark-fg);
  background-color: var(--popup-leave-button);
  border-radius: 0.75rem;
  padding: 0.6em;
}
.game-popup-leavebutton:hover {
  color: var(--dark-fg);
  background-color: var(--popup-leave-button--hover);
}
.game-popup-leavebutton:active {
  color: var(--dark-fg);
  background-color: var(--popup-leave-button--active);
}
.game-popup-cancelbutton {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  color: var(--dark-fg);
  background-color: var(--popup-button);
  border-radius: 0.75rem;
  padding: 0.6em;
}
/* Conditionals */
.selectable {
  opacity: 100%;
}
/* Role colors */
.good {
  color: var(--good-fg);
  background-color: var(--good-bg);
}
.good-selected {
  color: var(--good-fg-selected);
  background-color: var(--good-bg-selected);
}
.evil {
  color: var(--evil-fg);
  background-color: var(--evil-bg);
}
.evil-selected {
  color: var(--evil-fg-selected);
  background-color: var(--evil-bg-selected);
}
.neutral {
  color: var(--neutral-fg);
  background-color: var(--neutral-bg);
}
.neutral-selected {
  color: var(--neutral-fg-selected);
  background-color: var(--neutral-bg-selected);
}
/* Pre-game related */
.game {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}
.game-waiting-container {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
  background-color: var(--light-bg);
  padding: 2em;
  border-radius: 1rem;
  margin-top: 8rem;
  max-width: 15rem;
  min-width: 15rem;
}
/* Rolecard */
.game-rolecard-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.game-title-night {
  opacity: 75%;
  -webkit-animation: fadeIn75 0.3s 1 ease-in-out;
          animation: fadeIn75 0.3s 1 ease-in-out;
  color: var(--light-fg);
}
.game-title-day {
  opacity: 75%;
  color: var(--dark-bg);
}
.game-title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
#waiting {
  font-size: 2.5rem;
  margin-bottom: 0;
  opacity: 100% !important;
}
/* Game rolecard colors */
.game-rolecard-good-fg {
  color: var(--good-bg-selected);
}
.game-rolecard-evil-fg {
  color: var(--evil-bg-selected);
}
.game-rolecard-neutral-fg {
  color: var(--neutral-bg-selected);
}
.game-rolecard-good-bg {
  background-color: var(--good-bg-selected);
}
.game-rolecard-evil-bg {
  background-color: var(--evil-bg-selected);
}
.game-rolecard-neutral-bg {
  background-color: var(--neutral-bg-selected);
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes fadeIn75 {
  0% { opacity: 0; }
  100% { opacity: 0.75; }
}
@keyframes fadeIn75 {
  0% { opacity: 0; }
  100% { opacity: 0.75; }
}
@-webkit-keyframes fly-in {
  0% {
    -webkit-transform: rotate(50deg) translateX(1000px) translateY(0);
            transform: rotate(50deg) translateX(1000px) translateY(0);
  }
  100% {
    -webkit-transform: rotate(0) translateX(0) translateY(0) opacity(1);
            transform: rotate(0) translateX(0) translateY(0) opacity(1)
  }
}
@keyframes fly-in {
  0% {
    -webkit-transform: rotate(50deg) translateX(1000px) translateY(0);
            transform: rotate(50deg) translateX(1000px) translateY(0);
  }
  100% {
    -webkit-transform: rotate(0) translateX(0) translateY(0) opacity(1);
            transform: rotate(0) translateX(0) translateY(0) opacity(1)
  }
}
.game-rolecard {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: fadeIn 0.3s 1, fly-in 0.6s 1;
          animation: fadeIn 0.3s 1, fly-in 0.6s 1;
  -webkit-animation-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
          animation-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
  background-color: var(--light-bg);
  padding: 2.5em 1.5em 2.5em 1.5em;
  border-radius: 1rem;
  margin: 0.15rem;
  min-width: 17rem;
  max-width: 17rem;
}
.game-rolecard-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.game-rolecard-title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}
.game-rolecard-description {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  font-size: 0.8765rem;
  font-weight: 400;
  color: var(--dark-fg);
}
.game-rolecard-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 12.5rem;
  padding: 0.15em;
  margin: 0.25rem;
  border-radius: 1rem;
  margin: 1rem;
}
.game-rolecard-mission {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  font-size: 0.95rem;
  font-weight: 600;
  padding: 0.75rem 1rem 0.75rem 1rem;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
  line-height: 1.05;
}
.game-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 75%;
  max-width: 19rem;
}
.game-ready-button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  text-align: center;
  color: var(--light-fg);
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 0.75rem;
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
}
@media screen and (max-width: 600px) {
  .game-message {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 17rem;
    max-width: 17rem;
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    margin-bottom: 0.35rem;
    border-radius: 0.35rem;
  }
}