:root {
  /* nighmare bifore krissmas */
  /* Lobby & Game */
  /* --------------- */
  /* In game */
  /* Night */
  --dark-bg: hsl(0, 0%, 13%);
  --light-fg: hsl(0, 0%, 100%);
  /* Day */
  --light-bg: hsl(0, 0%, 100%);
  --dark-fg: hsl(0, 0%, 0%);
  --light-grey: hsl(0, 0%, 97%);
  /* Lobby player slots */
  --slot-empty: hsl(0, 0%, 95%);
  --slot-joined: hsl(0, 0%, 82%);
  --slot-ready: hsl(100, 30%, 82%);
  /* Not ready and ready */
  --ready-fg: hsl(100, 100%, 100%);
  --ready-bg: hsl(108, 100%, 25%);
  --not-ready-fg: hsl(0, 0%, 0%);
  --not-ready-bg: hsl(0, 100%, 70%);
  /* Role tags */
  /* Good */
  --good-fg: var(--dark-fg);
  --good-bg: hsl(108, 100%, 85%);
  --good-fg-selected: var(--light-fg);
  --good-bg-selected: hsl(108, 100%, 25%);

  /* Evil */
  --evil-fg: var(--dark-fg);
  --evil-bg: hsl(360, 100%, 85%);
  --evil-fg-selected: var(--light-fg);
  --evil-bg-selected: hsl(360, 100%, 50%);

  /* Neutral */
  --neutral-fg: var(--dark-fg);
  --neutral-bg: hsl(0, 0%, 83%);
  --neutral-fg-selected: var(--light-fg);
  --neutral-bg-selected: hsl(0, 0%, 15%);

  /* Player colors */
  --evilteam: hsl(360, 100%, 50%);
  --killed: hsl(0, 0%, 57%);
  --ability-target-bg: hsl(360, 100%, 60%);
  --vote-target-bg: hsl(100, 100%, 40%);
  --double-target-bg: linear-gradient(
    90deg,
    rgba(255, 51, 51, 1) 0%,
    rgba(68, 204, 0, 1) 100%
  );
  /* In game buttons */
  --vote-button-bg--notused: hsl(100, 100%, 40%);
  --vote-button-bg--used: hsl(100, 100%, 90%);
  --ability-button-bg--notused: hsl(360, 100%, 60%);
  --ability-button-bg--used: hsl(360, 98%, 95%);
}

.game-background {
  background: url(/assets/images/game_background.jpg);
  background-attachment: fixed;
}

.game-night {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/images/game_background.jpg);
    background-attachment: fixed;
}
.game-day {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url(/assets/images/game_background.jpg);
    background-attachment: fixed;
}
.game-dead {
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 2, 2, 0) 0%,
      rgba(255, 13, 13, 0.2) 100%
    ),
    url(/assets/images/game_background.jpg);

  background-attachment: fixed;
}

.selectable {
  opacity: 100%;
}

.unpicked {
}

.good {
  color: var(--good-fg);
  background-color: var(--good-bg);
}
.good-selected {
  color: var(--good-fg-selected);
  background-color: var(--good-bg-selected);
}

.evil {
  color: var(--evil-fg);
  background-color: var(--evil-bg);
}
.evil-selected {
  color: var(--evil-fg-selected);
  background-color: var(--evil-bg-selected);
}

.neutral {
  color: var(--neutral-fg);
  background-color: var(--neutral-bg);
}
.neutral-selected {
  color: var(--neutral-fg-selected);
  background-color: var(--neutral-bg-selected);
}

.game {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  width: 100%;
  height: 100%;
}

.game-waiting-container {
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  background-color: var(--light-bg);
  padding: 2em;
  border-radius: 1rem;
  margin-top: 8rem;
}

.game-rolecard-container {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}
.game-title {
  user-select: none;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

#waiting {
  font-size: 2.5rem;
  margin-bottom: 0;
}

.game-rolecard-good-fg {
  color: var(--good-bg-selected);
}
.game-rolecard-evil-fg {
  color: var(--evil-bg-selected);
}
.game-rolecard-neutral-fg {
  color: var(--neutral-bg-selected);
}
.game-rolecard-good-bg {
  background-color: var(--good-bg-selected);
}
.game-rolecard-evil-bg {
  background-color: var(--evil-bg-selected);
}
.game-rolecard-neutral-bg {
  background-color: var(--neutral-bg-selected);
}

.game-rolecard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--light-bg);
  padding: 1.5em;
  border-radius: 1rem;
  margin: 0.15rem;
  min-width: 17rem;
  max-width: 17rem;
}

.game-rolecard-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.game-rolecard-title {
  user-select: none;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}
.game-rolecard-description {
  user-select: none;
  text-align: center;
  font-size: 0.8765rem;
  font-weight: 400;
  color: var(--dark-fg);
}

.game-rolecard-icon {
  display: flex;
  width: 12.5rem;
  height: 12.5rem;
  padding: 0.15em;
  margin: 1rem;
}

.game-rolecard-mission {
  user-select: none;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--light-grey);
  padding: 0.75rem 1rem 0.75rem 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.game-button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 75%;
  max-width: 19rem;
}

.game-button {
  user-select: none;
  cursor: pointer;
  text-align: center;
  color: var(--light-fg);
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 0.6em;
  padding: 0.45rem 1.5rem 0.45rem 1.5rem;
}

.ready {
  color: var(--ready-fg);
  background-color: var(--ready-bg);
}

.start {
  cursor: not-allowed;
  opacity: 35%;
  color: var(--ready-fg);
  background-color: var(--ready-bg);
}

.not-ready {
  color: var(--not-ready-fg);
  background-color: var(--not-ready-bg);
}

.game-button-vote {
  user-select: none;
  cursor: pointer;
}

.game-button-ability {
  user-select: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
}
.game-button-selection-both {
  display: inline;
  padding: 0.3em;
  border-radius: 0.6em;
  text-align: center;
  font-size: 1rem;
  color: #000000;
  background: rgb(255, 51, 51);
  background: -moz-linear-gradient(
    90deg,
    rgba(255, 51, 51, 1) 0%,
    rgba(68, 204, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(255, 51, 51, 1) 0%,
    rgba(68, 204, 0, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(255, 51, 51, 1) 0%,
    rgba(68, 204, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff3333",endColorstr="#44cc00",GradientType=1);
}
