:root {
  --menu-button-bg: hsl(280, 100%, 90%);
  --menu-button-hover-bg: hsl(280, 100%, 50%);
  --menu-button-active-bg: hsl(280, 100%, 30%);
  --menu-button-fg: hsl(280, 100%, 35%);
  --menu-button-hover-fg: hsl(0, 0%, 100%);
  --menu-button-active-fg: hsl(0, 0%, 80%);
  --main-shadow: hsl(320, 49%, 17%);
  --main-highlight: hsl(320, 49%, 35%);
  --dark-bg: hsl(0, 0%, 13%);
  --light-fg: hsl(0, 0%, 100%);
  --light-bg: hsl(0, 0%, 100%);
  --dark-fg: hsl(0, 0%, 0%);
  --popup-button: hsl(0, 0%, 85%);
  --popup-button--hover: hsl(0, 0%, 80%);
  --popup-button--active: hsl(0, 0%, 70%);
  --popup-yes-button: hsl(0, 100%, 80%);
  --popup-yes-button--hover: hsl(0, 100%, 75%);
  --popup-yes-button--active: hsl(0, 100%, 65%);
}

.abs-pos {
  position: absolute;
}

.eye1 {
  top: 5rem;
  left: 1.5rem;
  width: 4.063rem;
  transform: rotate(-30deg);
}
.eye2 {
  top: 4rem;
  right: 1.5rem;
  width: 3.125rem;
  transform: rotate(70deg);
}
.eye3 {
  bottom: 10rem;
  right: 2rem;
  width: 5rem;
  transform: rotate(-30deg);
}
.eye4 {
  bottom: 3rem;
  right: 1.5rem;
  width: 1.563rem;
  transform: rotate(16deg);
}
.eye5 {
  bottom: 11rem;
  left: 4rem;
  width: 3.75rem;
  transform: rotate(30deg);
}
.eye6 {
  bottom: 27rem;
  right: 1.5rem;
  width: 2.5rem;
  transform: rotate(30deg);
}
.eye7 {
  bottom: 3rem;
  left: 3rem;
  width: 2.188rem;
  transform: rotate(-8deg);
}
.eye8 {
  bottom: 17.5rem;
  left: 1.5rem;
  width: 1.563rem;
  transform: rotate(-30deg);
}
.eye9 {
  bottom: 18.5rem;
  right: 1.5rem;
  width: 1.563rem;
  transform: rotate(65deg);
}

.animated-eyes-container {
  position: fixed;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 22.5rem;
  max-width: 22.5rem;
  min-height: 46.25rem;
  max-height: 46.25rem;
  z-index: -1;
}

.animated-eye {
  opacity: 35%;
  display: flex;
}


.index-notification {
  position: fixed;
  display: none;
  bottom: 5vh;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  animation: fadeIn 0.3s 1;
  font-weight: 500;
  padding: 1em;
  border-radius: 10rem;
  color: var(--light-fg);
  background-color: rgba(0, 0 ,0, 0.90);
  vertical-align: center;
  line-height: 1;
  backdrop-filter: blur(0.25rem);
  -webkit-backdrop-filter: blur(0.25rem);
  box-shadow: 0 0.5rem 1rem var(--main-shadow);
}

body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-size: 1rem;
  font-family: "League Spartan", sans-serif;
  margin: 0;
  min-width: 100%;
  
}

.shadow-light {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.body-main {
  color: var(--light-fg);
  /* background-color: var(--dark-bg);*/
  background: radial-gradient(
    50% 50% at 50% 50%,
    var(--main-highlight) 0%,
    var(--main-shadow) 100%
  );
  background-attachment: fixed;
}

.body-dark {
  color: var(--light-fg);
  background-color: var(--dark-bg);
}

.body-light {
  color: var(--dark-fg);
  background-color: var(--light-bg);
}

p {
  margin: 0;
}

.header {
  display: block;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: #000000;
  margin: 1em;
}

#with-eyes {
  margin-top: 3rem;
}

#without-eyes {
  margin-top: 0;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Animations  */
.pop-light1 {
  animation: pop-light 0.5s 1;
}
.pop-light2 {
  animation: pop-light 1s 1;
}
.pop-light3 {
  animation: pop-light 1.5s 1;
}
.pop-light4 {
  animation: pop-light 2s 1;
}
.pop-light5 {
  animation: pop-light 2.5s 1;
}

@keyframes pop-light {
  from, to { transform: scale(1); }
  25% { transform: scale(0.98); }
  50% { transform: scale(1.03); }
  75% { transform: scale(1); }
}


.gelatine-light {
  animation: gelatine-light 0.5s 1;
}
@keyframes gelatine-light {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.95, 1.05); }
  50% { transform: scale(1.05, 0.95); }
  75% { transform: scale(0.98, 1.02); }
}
.gelatine-medium {
  animation: gelatine-medium 0.5s 1;
}
@keyframes gelatine-medium {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}
.gelatine-hard {
  animation: gelatine-hard 0.5s 1;
}
@keyframes gelatine-hard {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.75, 1.15); }
  50% { transform: scale(1.15, 0.75); }
  75% { transform: scale(0.85, 1.15); }
}

.title-eyesopen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21.875rem;
  margin: 1rem 0 1rem 0;
  min-height: 7.75rem;
  max-height: 7.75rem;
}

.title-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.7rem;
  color: var(--light-fg);
  margin: 1rem 0 1rem 0;
}
.title-light {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.7rem;
  color: var(--dark-fg);
  margin: 1rem 0 1rem 0;
}

.animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--dark-bg); */
  height: 100%;
  width: 100%;
  
}

.eyes {
  margin-top: -7rem;
  margin-bottom: -7rem;
  width: 18.75rem;
  height: 18.75rem;
}

.title-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


#changeUsername {
  display: none;
  font-size: 1rem !important;
  border-radius: 0.65rem !important;
  animation: fadeIn 0.3s 1, pop-light 1s 1;
  margin-bottom: 0 !important;
}

.title-button {
  user-select: none;
  cursor: pointer;
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  color: var(--light-fg);
  background-color: var(--dark-fg);
  margin-bottom: 1.5rem;
  padding: 0.6em 1em 0.6em 1em;
  border: none;
  border-radius: 1rem;
  text-decoration: none;
}


.title-button:hover {
  color: var(--menu-button-hover-fg);
  background-color: var(--menu-button-hover-bg);
}

.title-button:active {
  color: var(--menu-button-active-fg);
  background-color: var(--menu-button-active-bg);
  transition: all 0s;
  transform: scale(0.9);
}

.navbar-main {
  /* background-color: var(--dark-bg); */
  width: auto;
  height: auto;
}

.navbar-dark {
  background-color: var(--dark-bg);
  width: auto;
  height: auto;
}

.navbar-light {
  background-color: var(--light-bg);
  width: auto;
  height: auto;
}

.drop-shadow {
  box-shadow: 0 0.1rem 0.5rem rgb(0 0 0 / 12%);
}

.navbar-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: auto;
  padding: 0.5em;
}

.author-dark {
  font-weight: 600;
  color: var(--light-fg);
}

.author-light {
  font-weight: 600;
  color: var(--dark-fg);
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  margin-top: 5rem;
}

@media screen and (max-width: 600px) {
  .navbar-main {
    /* background-color: var(--dark-bg); */
    width: auto;
    height: auto;
  }

  .navbar-dark {
    background-color: var(--dark-bg);
    width: auto;
    height: auto;
  }

  .navbar-light {
    background-color: var(--light-bg);
    width: auto;
    height: auto;
  }

  .navbar-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: auto;
    padding: 0.5em;
  }

  #with-eyes {
    margin-top: 3rem;
  }

  #without-eyes {
    margin-top: 0;
  }

  .title-button {
    user-select: none;
    cursor: pointer;
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    color: var(--light-fg);
    background-color: var(--dark-fg);
    margin-bottom: 1.5rem;
    padding: 0.6em 1em 0.6em 1em;
    border: none;
    border-radius: 1rem;
    text-decoration: none;
  }
  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;
    margin-top: 5rem;
  }
}

.designed-by {
  margin: 0 0 0.5em 0;
}

.logo {
  width: 2rem;
  height: 2rem;
  padding: 0.25em;
}

#github-dark {
  margin-top: 0.5rem;
  color: var(--light-bg);
}

#github-light {
  margin-top: 0.5rem;
  color: #000000;
}

.linkto-dark {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--light-fg);
}

.linkto-light {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--dark-fg);
}

.linkto-dark:focus {
  outline: none !important;
}
.linkto-light:focus {
  outline: none !important;
}

.github {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.github:focus {
  outline: none !important;
}

.logo-link {
  display: flex;
  justify-content: flex-start !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo-link:focus {
  outline: none !important;
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.overlay {
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.35);
  animation: fadeIn 0.3s 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0.25rem);
  -webkit-backdrop-filter: blur(0.25rem);
}

/* Popup */

.popup {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  animation: fadeIn 0.3s 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--light-bg);
  border-radius: 1rem;
  padding: 2rem 1.5rem 2rem 1.5rem;
  max-width: 17.5rem;
  min-width: 17.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.popup-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.popup-title {
  user-select: none;
  color: var(--dark-fg);
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.35rem;
  font-weight: 700;
}
.popup-subtitle {
  user-select: none;
  color: var(--dark-fg);
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

.players {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  gap: 1.5rem;
}
.players-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.25rem;
}

.player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}

#player-hidden {
  display: none;
}

.player-bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  border-radius: 0.5rem;
  height: 1.25rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--dark-fg);
  background-color: hsl(0, 0%, 90%);
}

.player-kick {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  padding: 0.5rem;
  border-radius: 0.75rem;
  background-color: hsl(0, 100%, 80%);
}
.player-kick:hover {
  background-color: hsl(0, 100%, 75%);
}
.player-kick:active {
  background-color: hsl(0, 100%, 68%);
}

#popup-close {
  margin-top: -0.25rem !important;
  margin-right: 0.25rem !important;
}


.popup-icon {
  user-select: none;
  width: 5rem;
  height: 5rem;
  margin-bottom: 1.5rem;
}

.popup-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 1.5rem;
  font-weight: 500;
  gap: 1rem;
}

.popup-yesbutton {
  user-select: none;
  cursor: pointer;
  color: var(--dark-fg);
  background-color: var(--popup-yes-button);
  border-radius: 1rem;
  padding: 0.6em;
}
.popup-yesbutton:hover {
  color: var(--dark-fg);
  background-color: var(--popup-yes-button--hover);
}
.popup-yesbutton:active {
  color: var(--dark-fg);
  background-color: var(--popup-yes-button--active);
}

.popup-nobutton {
  user-select: none;
  cursor: pointer;
  color: var(--dark-fg);
  background-color: var(--popup-button);
  border-radius: 1rem;
  padding: 0.6em;
}
.popup-nobutton:hover {
  color: var(--dark-fg);
  background-color: var(--popup-button--hover);
}
.popup-nobutton:active {
  color: var(--dark-fg);
  background-color: var(--popup-button--active);
}

.card-input {
  position: fixed;
  display: none;
  justify-content: center;
  flex-direction: column;
  animation: fadeIn 0.3s 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  background: var(--light-bg);
  padding: 1.85em;
  border-radius: 1rem;

  width: 17em;
}

.close {
  display: flex;
  width: 100%;
  margin-right: -2rem;
  margin-top: -1rem;
  justify-content: right;
}

.close-button {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  vertical-align: bottom;
  border-radius: 0.5rem;
}

.close-button:hover {
  background-color: hsl(0, 0%, 95%);
}

.close-button:active {
  background-color: hsl(0, 0%, 85%);
}

.join-help {
  display: none;
  text-align: center;
  font-weight: 400;
  font-size: 0.75em;
  color: #000000;
  margin: 0.3em 1em 0.3em 1em;
}

.join-info {
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  color: #000000;
  margin: 0.5em 1em 0.5em 1em;
}

#code {
  text-transform: uppercase;
}

input[type="text"] {
  background-color: #ffffff;
  font-family: "League Spartan", sans-serif;
  text-align: center;
  font-size: 1rem;
  margin: 0.5em 1em 0.5em 1em;
  padding: 0.5em 1em 0.5em 1em;
  outline: none;
  border-radius: 0.55rem;
  border: 2px solid #b1b1b1;
}

input[type="text"]:focus {
  outline: none;
  border: 2px solid #000000;
}

.confirm-button {
  user-select: none;
  cursor: pointer;
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  color: var(--light-fg);
  background-color: var(--dark-fg);
  margin: 0.5em 1em 0.5em 1em;
  padding: 0.6em 0.6em 0.6em 0.6em;
  border: none;
  border-radius: 0.5rem;
  text-decoration: none;
}

.confirm-button:hover {
  color: var(--menu-button-hover-fg);
  background-color: var(--menu-button-hover-bg);
}

.confirm-button:active {
  color: var(--menu-button-active-fg);
  background-color: var(--menu-button-active-bg);
  transition: all 0s;
  transform: scale(0.9);
}
