:root {
  --menu-button-bg: hsl(280, 100%, 90%);
  --menu-button-hover-bg: hsl(280, 100%, 50%);
  --menu-button-active-bg: hsl(280, 100%, 30%);
  --menu-button-fg: hsl(280, 100%, 35%);
  --menu-button-hover-fg: hsl(0, 0%, 100%);
  --menu-button-active-fg: hsl(0, 0%, 80%);
  --main-shadow: hsl(320, 49%, 17%);
  --main-highlight: hsl(320, 49%, 35%);
  --dark-bg: hsl(0, 0%, 13%);
  --light-fg: hsl(0, 0%, 100%);
  --light-bg: hsl(0, 0%, 100%);
  --dark-fg: hsl(0, 0%, 0%);
}

body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-size: 1rem;
  font-family: "League Spartan", sans-serif;
  margin: 0;
  min-width: 100%;
}

.shadow-light {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.body-main {
  color: var(--light-fg);
  /* background-color: var(--dark-bg);*/
  background: radial-gradient(
    50% 50% at 50% 50%,
    var(--main-highlight) 0%,
    var(--main-shadow) 100%
  );
  background-attachment: fixed;
}

.body-dark {
  color: var(--light-fg);
  background-color: var(--dark-bg);
}

.body-light {
  color: var(--dark-fg);
  background-color: var(--light-bg);
}

p {
  margin: 0;
}

.header {
  display: block;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: #000000;
  margin: 1em;
}

#with-eyes {
  margin-top: 3rem;
}

#without-eyes {
  margin-top: 1rem;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.7rem;
  color: var(--light-fg);
  margin: 1rem 0 1rem 0;
}
.title-light {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.7rem;
  color: var(--dark-fg);
  margin: 1rem 0 1rem 0;
}

.navbar-main {
  /* background-color: var(--dark-bg); */
  width: auto;
  height: auto;
}

.navbar-dark {
  background-color: var(--dark-bg);
  width: auto;
  height: auto;
}

.navbar-light {
  background-color: var(--light-bg);
  width: auto;
  height: auto;
}

.navbar-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  width: auto;
  height: auto;
  padding: 0.5em;
}

@media screen and (max-width: 600px) {
  .navbar-main {
    /* background-color: var(--dark-bg); */
    width: auto;
    height: auto;
  }
  .navbar-dark {
    background-color: var(--dark-bg);
    width: auto;
    height: auto;
  }

  .navbar-light {
    background-color: var(--light-bg);
    width: auto;
    height: auto;
  }

  .navbar-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    width: auto;
    height: auto;
    padding: 0.5em;
  }
  #with-eyes {
    margin-top: 3rem;
  }

  #without-eyes {
    margin-top: 1rem;
  }
}

.logo {
  width: 2rem;
  height: 2rem;
  padding: 0.25em;
}

.logo-link {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo-link:focus {
  outline: none !important;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


#overlay {
  position: fixed;
  display: block;
  background-color: rgba(0, 0, 0, 0.35);
  animation: fadeIn 0.3s 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  backdrop-filter: blur(0.25rem);
  -webkit-backdrop-filter: blur(0.25rem);
}

.card-input {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: fadeIn 0.3s 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  background: var(--light-bg);
  padding: 1.85em;
  border-radius: 0.5rem;
  width: 17em;
}

.join-help {
  display: none;
  text-align: center;
  font-weight: 400;
  font-size: 0.75em;
  color: #000000;
  margin: 0.3em 1em 0.3em 1em;
}

.join-info {
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  color: #000000;
  margin: 0.5em 1em 0.5em 1em;
}

#code {
  text-transform: uppercase;
}

input[type="text"] {
  background-color: #ffffff;
  font-family: "League Spartan", sans-serif;
  text-align: center;
  font-size: 1rem;
  margin: 0.5em 1em 0.5em 1em;
  padding: 0.5em 1em 0.5em 1em;
  outline: none;
  border-radius: 0.5rem;
  border: 2px solid #b1b1b1;
  
}

input[type="text"]:focus {
  outline: none;
  border: 2px solid #000000;
}

.confirm-button {
  user-select: none;
  cursor: pointer;
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  color: var(--light-fg);
  background-color: var(--dark-fg);
  margin: 0.5em 1em 0.5em 1em;
  padding: 0.6em 0.6em 0.6em 0.6em;
  border: none;
  border-radius: 0.5rem;
  text-decoration: none;
}

.confirm-button:hover {
  color: var(--menu-button-hover-fg);
  background-color: var(--menu-button-hover-bg);
}

.confirm-button:active {
  color: var(--menu-button-active-fg);
  background-color: var(--menu-button-active-bg);
  transition: all 0s;
  transform: scale(0.9);
}
